/*----------------------------------Default styling of page-----------------------------------*/

body {
  margin: 0;
  padding: 0;
  background: #ccccff;
}
 
nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
nav a:hover {
  background-color: #005f5f;
}
 
nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

section {

	background-color:#ccccff;
	text-align:left;
	padding: 10px;
	margin: 20px;
	width: 95%;
	opacity: .75;
	
}

.firstone {
	background-color: #ccccff;
}

/*---------------------------------------------Media Queries---------------------------------------------*/

@media screen and (min-width: 600px) {
  nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  nav li {
    float: left;
  }
  nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  nav {
    background-color: #444;
  }
  */
  

  
}

@media screen and (max-width: 599px) {
	.flex-container {
		display: flex;
		flex-flow: row wrap;
	}
}

/*------------------------------------Default behaviour of content containers--------------------------------*/

.flex-container{
	display: flex;
}

.flex-item:nth-child(-n+1) {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 2 1 auto;
	-ms-flex: 2 1 auto;
	flex: 2 1 auto;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}


.contact {
	text-align: center;
}
